In [52]:
# https://youtu.be/fhi4dOhmW-g
import pandas as pd

In [53]:
df = pd.read_csv('glassdoor_jobs.csv')

In [54]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [55]:
# Salary Parsing
df.size

14340

In [56]:
df.info

<bound method DataFrame.info of      Unnamed: 0                                          Job Title  \
0             0                                     Data Scientist
1             1                          Healthcare Data Scientist
2             2                                     Data Scientist
3             3                                     Data Scientist
4             4                                     Data Scientist
..          ...                                                ...
951         951                               Senior Data Engineer
952         952  Project Scientist - Auton Lab, Robotics Institute
953         953                               Data Science Manager
954         954                                      Data Engineer
955         955          Research Scientist – Security and Privacy

                 Salary Estimate  \
0     $53K-$91K (Glassdoor est.)
1    $63K-$112K (Glassdoor est.)
2     $80K-$90K (Glassdoor est.)
3     $56K-$97K (Glassdoor est.)
4    $86K-$143K (Glassdoor est.)
..                           ...
951  $72K-$133K (Glassdoor est.)
952   $56K-$91K (Glassdoor est.)
953  $95K-$160K (Glassdoor est.)
954                           -1
955  $61K-$126K (Glassdoor est.)

                                       Job Description  Rating  \
0    Data Scientist\nLocation: Albuquerque, NM\nEdu...     3.8
1    What You Will Do:\n\nI. General Summary\n\nThe...     3.4
2    KnowBe4, Inc. is a high growth information sec...     4.8
3    *Organization and Job ID**\nJob ID: 310709\n\n...     3.8
4    Data Scientist\nAffinity Solutions / Marketing...     2.9
..                                                 ...     ...
951  THE CHALLENGE\nEventbrite has a world-class da...     4.4
952  The Auton Lab at Carnegie Mellon University is...     2.6
953  Data Science ManagerResponsibilities:\n\nOvers...     3.2
954  Loading...\n\nTitle: Data Engineer\n\nLocation...     4.8
955  Returning Candidate? Log back in to the Career...     3.6

                                   Company Name         Location  \
0                        Tecolote Research\n3.8  Albuquerque, NM
1    University of Maryland Medical System\n3.4    Linthicum, MD
2                                  KnowBe4\n4.8   Clearwater, FL
3                                     PNNL\n3.8     Richland, WA
4                       Affinity Solutions\n2.9     New York, NY
..                                          ...              ...
951                             Eventbrite\n4.4    Nashville, TN
952         Software Engineering Institute\n2.6   Pittsburgh, PA
953                           Numeric, LLC\n3.2    Allentown, PA
954                                   IGNW\n4.8       Austin, TX
955           Riverside Research Institute\n3.6  Beavercreek, OH

          Headquarters                    Size  Founded  \
0           Goleta, CA   501 to 1000 employees     1973
1        Baltimore, MD        10000+ employees     1984
2       Clearwater, FL   501 to 1000 employees     2010
3         Richland, WA  1001 to 5000 employees     1965
4         New York, NY     51 to 200 employees     1998
..                 ...                     ...      ...
951  San Francisco, CA  1001 to 5000 employees     2006
952     Pittsburgh, PA   501 to 1000 employees     1984
953    Chadds Ford, PA       1 to 50 employees       -1
954       Portland, OR    201 to 500 employees     2015
955      Arlington, VA   501 to 1000 employees     1967

          Type of ownership                          Industry  \
0         Company - Private               Aerospace & Defense
1        Other Organization  Health Care Services & Hospitals
2         Company - Private                 Security Services
3                Government                            Energy
4         Company - Private           Advertising & Marketing
..                      ...                               ...
951        Company - Public                          Internet
952    College / University           Colleges & Universities
953       Company - Private            Staffing & Outsourcing
954       Company - Private                       IT Services
955  Nonprofit Organization                  Federal Agencies

                           Sector                           Revenue  \
0             Aerospace & Defense         $50 to $100 million (USD)
1                     Health Care            $2 to $5 billion (USD)
2               Business Services        $100 to $500 million (USD)
3    Oil, Gas, Energy & Utilities  $500 million to $1 billion (USD)
4               Business Services          Unknown / Non-Applicable
..                            ...                               ...
951        Information Technology        $100 to $500 million (USD)
952                     Education          Unknown / Non-Applicable
953             Business Services           $5 to $10 million (USD)
954        Information Technology          $25 to $50 million (USD)
955                    Government         $50 to $100 million (USD)

                                           Competitors
0                                                   -1
1                                                   -1
2                                                   -1
3    Oak Ridge National Laboratory, National Renewa...
4                 Commerce Signals, Cardlytics, Yodlee
..                                                 ...
951                    See Tickets, TicketWeb, Vendini
952                                                 -1
953                                                 -1
954                                             Slalom
955                                                 -1

[956 rows x 15 columns]>

In [57]:
df = df[df['Salary Estimate']!='-1']

In [58]:
# Remove "Glassdoor Estimate" from the column: Salary Estimate
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [59]:
salary

0       $53K-$91K
1      $63K-$112K
2       $80K-$90K
3       $56K-$97K
4      $86K-$143K
          ...
950    $58K-$111K
951    $72K-$133K
952     $56K-$91K
953    $95K-$160K
955    $61K-$126K
Name: Salary Estimate, Length: 742, dtype: object

In [60]:
# the dollar sign and K form salary
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$',''))

In [61]:
minus_Kd

0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
        ...
950    58-111
951    72-133
952     56-91
953    95-160
955    61-126
Name: Salary Estimate, Length: 742, dtype: object

In [62]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [63]:
# separating 'per hour'
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

C:\Users\ammar\AppData\Local\Temp\ipykernel_13660\1603068858.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

In [64]:
df['employer provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

C:\Users\ammar\AppData\Local\Temp\ipykernel_13660\165622510.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['employer provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [65]:
min_hr = minus_Kd.apply(lambda x: x.lower().replace('per hour', '').replace('employer provided salary:', ''))

In [66]:
df['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))

C:\Users\ammar\AppData\Local\Temp\ipykernel_13660\4024693807.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))

In [67]:
df['max_salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))

C:\Users\ammar\AppData\Local\Temp\ipykernel_13660\1059162043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['max_salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))

In [68]:
df.dtypes

Unnamed: 0             int64
Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
hourly                 int64
employer provided      int64
min_salary             int64
max_salary             int64
dtype: object

In [69]:
df['avg_salary'] = 0.5*(df['min_salary'] + df['max_salary'])

C:\Users\ammar\AppData\Local\Temp\ipykernel_13660\795662223.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg_salary'] = 0.5*(df['min_salary'] + df['max_salary'])

In [70]:
# Parsing the company name
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating']<0 else x['Company Name'][:-3], axis = 1)

C:\Users\ammar\AppData\Local\Temp\ipykernel_13660\3418199716.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating']<0 else x['Company Name'][:-3], axis = 1)

In [71]:
 # State Field
    df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])

IndentationError: unexpected indent (1628373908.py, line 2)

In [72]:
df.job_state.value_counts()

AttributeError: 'DataFrame' object has no attribute 'job_state'

In [73]:
# Is the headquater located in the same state as the job
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

C:\Users\ammar\AppData\Local\Temp\ipykernel_13660\2120488274.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

In [74]:
# Company Age
df['age'] = df.Founded.apply(lambda x: x if x < 1 else 2022-x)

C:\Users\ammar\AppData\Local\Temp\ipykernel_13660\4204182254.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'] = df.Founded.apply(lambda x: x if x < 1 else 2022-x)

In [75]:
# Parsing of job description
# 1) Python
df['python_yn']=df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

C:\Users\ammar\AppData\Local\Temp\ipykernel_13660\490684747.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['python_yn']=df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [76]:
df.python_yn.value_counts()

1    392
0    350
Name: python_yn, dtype: int64

In [77]:
# R studio
df['r_yn']=df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)

C:\Users\ammar\AppData\Local\Temp\ipykernel_13660\13491922.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['r_yn']=df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)

In [78]:
df.r_yn.value_counts()

0    740
1      2
Name: r_yn, dtype: int64

In [79]:
# Spark
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

C:\Users\ammar\AppData\Local\Temp\ipykernel_13660\367324981.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

In [80]:
df.spark.value_counts()

0    575
1    167
Name: spark, dtype: int64

In [81]:
# aws
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

C:\Users\ammar\AppData\Local\Temp\ipykernel_13660\1165095986.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

In [82]:
df.aws.value_counts()

0    566
1    176
Name: aws, dtype: int64

In [83]:
# Excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

C:\Users\ammar\AppData\Local\Temp\ipykernel_13660\89968341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [84]:
df.excel.value_counts()

1    388
0    354
Name: excel, dtype: int64

In [85]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'same_state', 'age', 'python_yn', 'r_yn', 'spark', 'aws',
       'excel'],
      dtype='object')

In [86]:
df_out = df.drop('Unnamed: 0', axis = 1)

In [87]:
df_out.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'same_state', 'age', 'python_yn', 'r_yn', 'spark', 'aws',
       'excel'],
      dtype='object')

In [89]:
df_out.to_csv('salary data cleaned', index = False)